/* Importación de fuentes de google fonts */
/*CONTACTOS*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


@media screen and (min-width: 80rem) {
	.container {
	  margin: 1em 2em;
	}

}

body {
	height: 200%;
	font-family: 'Noto Sans', sans-serif;
	background-color: rgb(22, 22, 22);
}


button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	border-style: solid;
	border-radius: 10px;
	width: 420px;
	cursor: pointer;
}

button p {
	color: #fff;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	background-size: cover;
}

.hero {
	height: 100vh;
	width: 100%;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: #a78a2e;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}


.about {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img {
	height: auto;
	width: 430px;
	margin: 30px;
}

.about-text {
	width: 550px;
}

.about-services {
	width: 640px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 70px;
	text-transform: capitalize;
	margin-bottom: 20px;
}


.about-text p {
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button {
	background-color: #836000;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

button:hover {
	background-color: transparent;
	border: 2px solid #bea550;
	cursor: pointer;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

.contact-me {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {
	background-color: #836000;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .button-two:hover {
	background-color: transparent;
	border: 2px solid #bea550;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2) {
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {
	display: flex;
}

.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #836000;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .3s;
}

.end {
	position: absolute;
	color: #836000;
	bottom: 35px;
	font-size: 14px;
}

.where-is {
	width: 100%;
	padding: 100px 0px;
	background-color: rgb(20, 20, 20);
}

.where-is-text {
	width: 550px;
}

.direccion{
	text-decoration: none;
	color: #836000;
}

.direccion:hover{
	color: #d8a20f;
}

.carta {
	display: block; 
	margin: 0 auto; 
	margin-bottom: 50px;
	margin-top: 50px;
}

.muestra-carta{
	display: block;
	text-align: center; 
	margin: 0;
	padding: 35px
}

.muestra-carta button {
	display: inline; 
	justify-content: center; 
	margin: 20px 20px 70px;
	width: 200px;
	height: 40px;
}

.muestra-carta h2{
	margin: 55px;
	font-size: 60px;
	text-align: letf;
	padding-bottom: 20px;
	color: white;
}

img{
	border-radius: 20px;
}

.vinos{
	margin: 100px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #555;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-container button:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: #555;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.button-container button:active {
    transform: translateY(2px) scale(0.98);
    background-color: #444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container button.active {
    background-color: #333;
    color: #fff;
    border: 2px solid #8a6707;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.eventos {
    width: 100%;
    padding: 80px 0; 
    background-color: #191919; 
}

.harley {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px; 
    margin: 0 auto; 
}

.harley-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 40px; 
}

.harley-texto {
    width: 60%; 
}

.harley h2 {
    color: #d1a21f; 
    font-size: 40px; 
    text-transform: capitalize; 
    margin-bottom: 100px; 
    padding: 0 20px; 
    width: 100%; 
    text-align: center; 
}

.harley-texto h3 {
    color: #b38915; 
    font-size: 20px; 
    text-transform: capitalize; 
    margin-bottom: 10px; 
}

.harley-description {
    color: white; 
    letter-spacing: 1px; 
    line-height: 28px; 
    font-size: 18px; 
    margin-bottom: 100px; 
}

.harley-image {
    width: 280px; 
    height: auto; 
    margin: 0 30px; 
    transition: transform 0.7s ease; 
}

.harley-image:hover {
    transform: scale(1.2); 
}
